<h3>{{ otheruser }}'s Profile page</h3>

{% include 'navigation.html'%}
</br>
<div id='usercard' style='border: 1px solid black; height: 150px; width: 200px'>
    <p>{{ otheruser }}</p>
    <p><a href='/twitteruser/{{ otheruser.id }}/'>@{{ otheruser }}</a></p>
    {% if request.user == otheruser %}
    <p>Tweets: {{tweetcount.count }}</p>
    {% else %}
    <p>Tweets: {{tweetdetail.count}}</p>
    {% endif %}
    {% if request.user == otheruser %}
    <p>Following: {{ request.user.followingg.count }}</p>
    {% else %}
    <p>Following: {{ otheruser.followingg.count }}</p>
    {% endif %}
    </br>
    {% if request.user != otheruser %}
        <p><a href='/follow/{{ otheruser.id }}/'><button style='color: green'>Follow</button></a></p>
        <p><a href='/unfollow/{{ otheruser.id }}/'><button style='color: red'>Unfollow</button></a></p>
    {% endif %}
</div>
    </br>
    </br>
    </br>
    </br>
    </br>
<div id='alltweets'>
    <h3>{{ otheruser }}'s Tweets</h3>
    {% for message in tweetdetail %}
        <ul>
            <li>
                <a href='/twitteruser/{{ message.tweet_author.id }}/'>{{ message.tweet_author.username }}</a> - <a href='/tweet/{{ message.id }}/'>{{ message.date }}</a>
                <ul>
                    <li>
                        {{ message.body }}
                    </li>
                </ul>
            
            </li>
        </ul>
    {% endfor %}
</div>